html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#output-container {
  background-color: #fff;
  font-family: monospace;
  font-size: 12px;
  font-weight: 300;
  margin-right: 12px;
  padding: 11px 11px 13px 13px;
  width: 250px;
  height: 100px;
  position: relative;
}

#pos-output {
  overflow: auto;
  white-space: pre-wrap;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

.copybtn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #eee;
  cursor: pointer;
}
